body{
    margin: 0px;
}

/* fonts class */
.dynapuff-font {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.sn-pro-font {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* navbar */
#navbar{
    display: flex;
    box-shadow: 0px 2px 5px black;
    width: 100%;
    justify-content: space-evenly;
    position: sticky;
    top:0;
    background-color: white;
}
#nav-logo{
    font-size: 3rem;
    padding: 1rem 0.5rem;
}
.tabs{
    padding: 2rem 0rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}
#theme-change img{
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 0rem 1rem 1rem 0rem;
    box-shadow: 0px 2px 3px black;
    position: fixed;
    top: 90vh;
    background-color: rgb(255, 255, 255);
}
#bg-image{
    width: 100%;
    position: fixed;
    z-index: -1;
}
.homepage{
    background-color: rgba(0, 0, 0, 0.4);
    height: 200vh;
}